<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <h2>Student Attendance</h2>

    <div>
        <a href="/">Home</a>
        <a href="/add_student">Add Student</a>
        <a href="/attendance">Attendance</a>
        <a href="/view_attendance">View Attendance</a>
    </div>
</nav>

<div class="container">

    <div class="header">
        <h1>Add Student</h1>
        <p>Enter the student details below.</p>
    </div>

    <div class="form-box">

        <form method="POST">

            <div class="form-group">
                <label>Student Name</label>
                <input type="text"
                       name="name"
                       placeholder="Enter student name"
                       required>
            </div>

            <div class="form-group">
                <label>Roll Number</label>
                <input type="text"
                       name="roll_no"
                       placeholder="Enter roll number"
                       required>
            </div>

            <div class="form-group">
                <label>Course</label>
                <input type="text"
                       name="course"
                       placeholder="Enter course"
                       required>
            </div>

            <button type="submit" class="btn">
                Add Student
            </button>

        </form>

    </div>

</div>

</body>
</html>