<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View Attendance</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <h2>Student Attendance</h2>

    <div>
        <a href="/">Home</a>
        <a href="/add_student">Add Student</a>
        <a href="/attendance">Attendance</a>
        <a href="/view_attendance">View Attendance</a>
    </div>
</nav>

<div class="container">

    <div class="header">
        <h1>Attendance Records</h1>
        <p>View student attendance details.</p>
    </div>

    <div class="table-box">

        <table>

            <thead>
                <tr>
                    <th>Roll No</th>
                    <th>Student Name</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                {% for record in attendance %}

                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</body>
</html>